# Evita subir archivos sensibles y carpetas innecesarias

# Variables de entorno
.env

# Node modules
node_modules/

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp

# Backup de bases de datos (opcional si ya lo tienes en otro lugar)
*.sql
